/build/
/dist/
/lib/
/esign/nbproject/private/
/KhanzaHMSServiceMobileJKNFKTP/nbproject/private/
/KhanzaHMSServiceSPDGT/build/
/KhanzaHMSServiceMandiri/nbproject/private/
/mandiri/nbproject/private/
/api-bpjsfktp/nbproject/private/
/KhanzaHMSServiceSPDGT/nbproject/private/
/bankjateng/nbproject/private/
/api-bridgingradiologi/nbproject/private/
